.mapcontainer {
  height: 94vh;
  .stationsearch {
    position: absolute;
    width: 100%;
    justify-content: center;
    display: flex;
    .searchcontainer {
      width: 27%;
      padding-top: 10px;
      .ant-select-show-search {
        z-index: 1;
        text-align: start;
      }
    }
    .input-container {
      z-index: 1;
      width: 200px;
      padding-top: 10px;
      .input {
        padding: 4px;
      }
    }
  }
  .mapscreen {
    width: 100%;
    height: 100%;
    .marker {
      background-color: pink;
      .info-container {
        width: 200px;
        border-radius: 4px;
        background-color: #1c1c1c;
        padding: 10px;
        position: absolute;
        margin-top: -60px;
        cursor: pointer;
        z-index: 1;
        .heading {
          display: flex;
          justify-content: space-between;
          .title {
            color: #fff;
            width: auto;
            font-size: 14px;
            font-weight: bold;
          }
        }
        .sub-info {
          color: #fff;
        }
        :after {
          content: "";
          position: absolute;
          bottom: -8px;
          left: 15px;
          border-top: 8px solid #1c1c1c;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
        }
      }

      .marker-pin {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .mapcontainer {
    height: 145vh;
  }
}
